# TestResult


## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**avgResponseTime** | **string** |  | [optional] [default to undefined]
**details** | **string** |  | [optional] [default to undefined]
**duration** | **string** |  | [optional] [default to undefined]
**errorCount** | **number** |  | [optional] [default to undefined]
**maxResponseTime** | **string** |  | [optional] [default to undefined]
**memoryUsageKb** | **number** |  | [optional] [default to undefined]
**minResponseTime** | **string** |  | [optional] [default to undefined]
**queriesPerSec** | **number** |  | [optional] [default to undefined]
**recordsProcessed** | **number** |  | [optional] [default to undefined]
**success** | **boolean** |  | [optional] [default to undefined]
**testName** | **string** |  | [optional] [default to undefined]

## Example

```typescript
import { TestResult } from './api';

const instance: TestResult = {
    avgResponseTime,
    details,
    duration,
    errorCount,
    maxResponseTime,
    memoryUsageKb,
    minResponseTime,
    queriesPerSec,
    recordsProcessed,
    success,
    testName,
};
```

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)
