# ValidationResult


## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**domain** | **string** |  | [optional] [default to undefined]
**durationMs** | **number** |  | [optional] [default to undefined]
**error** | **string** |  | [optional] [default to undefined]
**ips** | **Array&lt;string&gt;** |  | [optional] [default to undefined]
**resolver** | **string** |  | [optional] [default to undefined]
**status** | **string** |  | [optional] [default to undefined]
**timestamp** | **string** |  | [optional] [default to undefined]

## Example

```typescript
import { ValidationResult } from './api';

const instance: ValidationResult = {
    domain,
    durationMs,
    error,
    ips,
    resolver,
    status,
    timestamp,
};
```

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)
