{{#refs}}
{{/refs}}
{{#isPrimitiveType}}{{dataType}}{{/isPrimitiveType}}{{^isPrimitiveType}}{{#isContainer}}{{dataType}}{{/isContainer}}{{^isContainer}}{{#complexType}}{{complexType}}{{/complexType}}{{^complexType}}unknown{{/complexType}}{{/isContainer}}{{/isPrimitiveType}}